.poppins {
    font-family: "Poppins", sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}