.row-gap-0 {
    row-gap: 0;
}

.gap-0\.5 {
    gap: 0.5rem;
}

.gap-0\.75 {
    gap: 0.75rem;
}

.overflow-x-auto {
    overflow-x: auto;
}


/* Layouting - justify-content */

.justify-content-center {
    justify-content: center;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-right {
    justify-content: right;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

/* Layouting: justify-self */
.justify-self-start {
    justify-self: flex-start;
}

.justify-self-center {
    justify-self: center;
}

/* Layouting: align-items */

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

/* Align self */
.align-self-start {
    align-self: flex-start;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end;
}


/* text-transform */

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* Layouting: width */

.w-full {
    width: 100%;
}

.w-screen {
    width: 100dvw;
}

.max-w-screen {
    max-width: 100dvw;
}

/* Layouting: height */

.h-full {
    height: 100%;
}

.h-screen {
    height: 100dvh;
}

.h-display-screen{
    height: 100dvh
}

.max-h-screen {
    max-height: 100dvh;
}

.max-h-content {
    max-height: max-content;
}

/* text-align */

.text-center {
    text-align: center;
}

/* Background */

.bg-aqua {
    background-color: aqua;
}

.bg-\[\#f9f871\]{
    background-color: #f9f871;
}

.bg-\[\#b1faa7\]{
    background-color: #b1faa7;
}

.bg-\[\#9af6c1\]{
    background-color: #9af6c1;
}

.bg-\[\#60afaa\]{
    background-color: #60afaa;
}

.bg-\[\#c0fcf7\]{
    background-color: #c0fcf7;
}

.bg-\[\#28c6da\]{
    background-color: #28c6da;
}

.bg-\[\#8eaff9\]{
    background-color: #8eaff9;
}

.bg-\[\#6abd74\]{
    background-color: #6abd74;
}

.bg-\[\#a1f6a9\]{
    background-color: #a1f6a9;
}

.bg-\[\#d2fb8b\]{
    background-color: #d2fb8b;
}

.bg-\[\#f6f2cb\]{
    background-color: #f6f2cb;
}

.aspect-ratio-1\:1{
    aspect-ratio: 1/1;
}

/* border */
.border {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.rounded {
    border-radius: 1rem;
}

.rounded-full {
    border-radius: 99999px;
}


/* Font size */
.font-x-sm {
    font-size: smaller;
}

.font-2x-sm{
    font-size: xx-small;
}

.font-3x-sm {
    font-size: xx-small;
}

.font-sm {
    font-size: small;
}

.font-md {
    font-size: medium;
}

.font-lg {
    font-size: large;
}

.font-x-lg {
    font-size: larger;
}

.font-2x-lg {
    font-size: x-large;
}

.font-3x-lg{
    font-size: xx-large;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation-name: 'bounce';
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.top-0 {
    top: 0;
}

.max-w-full {
    max-width: 100%;
}

.h-80dvh {
    height: 80dvh
}