.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-right {
    justify-content: right;
}

.align-items-center {
    align-items: center;
}

.p-0\.5 {
    padding: 0.5rem;
}

.p-0\.75 {
    padding: 0.75rem;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}
