
.gap-0\.5 {
    gap: 0.5rem;
}


/* Layouting - justify-content */

.justify-content-center {
    justify-content: center;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-right {
    justify-content: right;
}

/* Layouting: justify-self */
.justify-self-start {
    justify-self: flex-start;
}

.justify-self-center {
    justify-self: center;
}

/* Layouting: align-items */

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

/* Align self */
.align-self-start {
    align-self: flex-start;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end;
}


/* text-transform */

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

/* Layouting: width */

.w-full {
    width: 100%;
}

.w-screen {
    width: 100dvw;
}

/* Layouting: height */

.h-full {
    height: 100%;
}

.h-screen {
    height: 100dvh;
}

/* text-align */

.text-center {
    text-align: center;
}

/* Background */

.bg-aqua {
    background-color: aqua;
}

.aspect-ratio-1\:1{
    aspect-ratio: 1/1;
}

/* border */
.border {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.rounded {
    border-radius: 1rem;
}

.rounded-full {
    border-radius: 99999px;
}